/* 
    Document   : mio
    Created on : Feb 15, 2014, 11:38:06 PM
    Author     : Paul
    Description:
        Purpose of the stylesheet follows.
*/

.ajax { 
    display: none;
}
.affix {
  width: 100%;
  position: fixed;
  top: 50px;
  z-index: 50;
  text-align: center;
}
/*.affix-bottom {
  width: inherit;
  position: absolute;
  top: auto;
  bottom: 200px; 
}
.affix-top {
}*/